# $\color{purple}{\text{Understanding Missing Data and How to Deal with It (Part 5)}}$

## $\color{purple}{\text{Advanced Imputation Techniques}}$

### $\color{purple}{\text{Colab Environmental Setup}}$

from google.colab import drive
import os
drive.mount('/content/drive')
os.chdir('/content/drive/My Drive/missingness_tutorial')

%pip install autoimpute

### $\color{purple}{\text{Libraries for this lesson}}$

In [1]:
import pandas as pd
import numpy as np
from helpers import stat_comparison, spotlight_donors, ImputationDisplayer
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

from autoimpute.imputations import SingleImputer
from autoimpute.imputations import MultipleImputer
from autoimpute.imputations import MiceImputer

In [2]:
df = pd.read_csv('data/full_set.csv')
mar_df = pd.read_csv('data/mar_set.csv')
ImputationDisplayer(mar_df)

## $\color{purple}{\text{Multivariate Imputation}}$
Conventional Multivariate Imputation falls into 2 categories
* Regression Imputation
* Hot Deck Imputation

Another cutting edge method worth mentioning
* Neural Network Autoencoder

## $\color{purple}{\text{Regression Imputation}}$

General Technique:
Use Regression/Classification Models to impute Numeric/Categorical Missing Values
* Linear Regression
* Stocastic Linear Regression
* Logistic Regression
* Other Possibilities (generally unexplored)
  * Random Forest
  * Decision Trees
  * KNN

### $\color{purple}{\text{Linear Regression}}$

* Works with MAR
* Can impute illegal (out of bounds) values
* Can under estimate variance/covariance

In [3]:
linear_regressor = LinearRegression()

#### Perform the linear regresssion

We base the prediction of `feature a` on the remaining features in `rest`. We only run the regression on data with full rows, `full_data`.

In [4]:
rest = ['feature b', 'feature c', 'feature d', 'uncorrelated']
full_data = mar_df.dropna()
linear_regressor.fit(full_data[rest], full_data['feature a'])
predicted = linear_regressor.predict(mar_df[rest])

#### A note about a code pattern

I will be repeating the following code pattern or variation thereof. 

```.assign(**{'feature a': df['feature a'].where(~df['feature a'].isnull(), predicted)``` 

Depending on the use case, I'll either be filling in a value when the value is missing or substituting a NaN where a missing value is (see section on MICE below).

This basically substitutes the predicted value only when values are missing.

This is basically the same pattern as

```df['feature a'] = df['feature a'].where(~df['feature a'].isnull(), predicted)```

but allows for passing the dataframe or method chaining

In [5]:
imputed = mar_df.assign(
    **{
        'feature a':
        mar_df['feature a'].where(~mar_df['feature a'].isnull(), predicted)
    })

### $\color{purple}{\text{Analyze the Results}}$

In [6]:
stat_comparison(df, imputed, 'feature a')

        Original  With Missing Data  difference  percentage
mean    2.411082           2.410061    0.001021    0.042360
median  2.420924           2.421312    0.000388    0.016017
stdev   1.279456           1.276724    0.002731    0.213476

In [7]:
mar_df.displayer(imputed, 15)

### $\color{purple}{\text{Stochastic Regression}}$
* Extends Linear Regression by adding noise modelling the residuals
* Better simulates variance
* Can also produce out of bounds values

We rely on the linear regression prediction above. And calculate the statistics behind the residuals of the linear regression.

In [8]:
residual = mar_df['feature a'] - predicted
residual.mean()
residual.std()

0.1564667846459442

For the prediction we model the residual noise as a normal distribution and adjust predictions accordingly.

In [9]:
residual_noise = np.random.normal(residual.mean(), residual.std(), 20000)
predicted += residual_noise

In [10]:
imputed = mar_df.assign(
    **{
        'feature a':
        mar_df['feature a'].where(~mar_df['feature a'].isnull(), predicted)
    })

### $\color{purple}{\text{Analyze the Results}}$

In [11]:
stat_comparison(df, imputed, 'feature a')

        Original  With Missing Data  difference  percentage
mean    2.411082           2.410636    0.000446    0.018492
median  2.420924           2.417350    0.003575    0.147652
stdev   1.279456           1.278754    0.000701    0.054826

In [12]:
mar_df.displayer(imputed, 15)

### $\color{purple}{\text{Built into}}$ `autoimpute`

In [13]:
imputer = SingleImputer('least squares')
ls_imputations = imputer.fit_transform(mar_df)

In [14]:
from autoimpute.imputations import SingleImputer

imputer = SingleImputer('stochastic')
st_imputations = imputer.fit_transform(mar_df)

#### $\color{purple}{\text{Analyze Results}}$

### $\color{purple}{\text{Just For Fun}}$
Let's use a Random Forest Regression instead

In [15]:
rf_regressor = RandomForestRegressor()
rest = ['feature b', 'feature c', 'feature d', 'uncorrelated']
full_data = mar_df.dropna()
rf_regressor.fit(full_data[rest], full_data['feature a'])
predicted = rf_regressor.predict(mar_df[rest])

In [16]:
imputed = mar_df.assign(
    **{
        'feature a':
        mar_df['feature a'].where(~mar_df['feature a'].isnull(), predicted)
    })

#### $\color{purple}{\text{Analyze Results}}$

In [17]:
mar_df.displayer(imputed, 15)

In [18]:
stat_comparison(df, imputed, 'feature a')

        Original  With Missing Data  difference  percentage
mean    2.411082           2.410330    0.000752    0.031207
median  2.420924           2.424977    0.004052    0.167384
stdev   1.279456           1.275264    0.004192    0.327651


## $\color{purple}{\text{Categorical Variables}}$

Imputation of categorical variables employs classification in place of regression. Most common is multinomial logistic regression.

In [19]:
cat_mar_df = pd.read_csv('data/categorical_mar.csv')
ImputationDisplayer(cat_mar_df)

In [20]:
# A little EDA
cat_mar_df.isnull().sum()

feature a         0
feature b         0
feature c         0
cat feature    4108
dtype: int64

In [21]:
from sklearn.linear_model import LogisticRegression

rest = ['feature a', 'feature b', 'feature c']
from sklearn.preprocessing import LabelEncoder

cleaned_df = cat_mar_df.dropna()
lr = LogisticRegression(random_state=0,
                        max_iter=1000).fit(cleaned_df[rest],
                                           cleaned_df['cat feature'])

In [22]:
impute = lr.predict(cat_mar_df[rest])

In [23]:
imputed = cat_mar_df.assign(
    **{
        'cat feature':
        cat_mar_df['cat feature'].where(~cat_mar_df['cat feature'].isnull(),
                                        impute)
    })

In [24]:
cat_mar_df.displayer(imputed, 10)

## $\color{purple}{\text{Hot Deck Imputation}}$
* General idea is to randomly sample imputed values from remaining good values.
* Doesn't impute out of bounds values

**How it works:**

* For each missing value, a set of donors is selected from good values
* A value is randomly selected from the set of donors
* Donors are selected based on some metric based algorithm

The `demo_mar.csv` dataset is the first 10 entries from one of my earlier runs. It has one missing value in `feature a`

In [25]:
demo_df = pd.read_csv('data/demo_mar.csv')
demo_df

   feature a  feature b  feature c  feature d  uncorrelated
0   1.517509   4.229258   2.052726   0.153278      0.014975
1   2.536323   4.295391   2.104137   1.348000      0.998701
2   4.043034   5.872276   3.559629   3.274061      0.403823
3   0.082752   3.761743  -0.440590   1.031832      0.281023
4   0.196684   3.793343   1.016462  -0.667764      0.165431
5   2.560068   4.446726   2.420763   0.973363      0.166179
6   4.027199   5.079975   4.582185   0.876607      0.420479
7        NaN   5.339294   3.138633   1.611132      0.229141
8   2.743726   4.506330   2.620240   1.362915      0.011719
9  -0.180238   3.148906   0.280848  -0.741796      0.104471

We use Euclidean distance to demonstrate how Hot Deck Imputation works, but in practice the metric is usually more statistically based and complex. For simplicity we add a `distance` feature.

In [26]:
def distance(x):
    return np.linalg.norm((x - demo_df.iloc[7]).dropna())


demo_df['distance'] = demo_df.apply(distance, axis=1)

In [27]:
demo_df

   feature a  feature b  feature c  feature d  uncorrelated  distance
0   1.517509   4.229258   2.052726   0.153278      0.014975  2.140696
1   2.536323   4.295391   2.104137   1.348000      0.998701  1.679696
2   4.043034   5.872276   3.559629   3.274061      0.403823  1.804759
3   0.082752   3.761743  -0.440590   1.031832      0.281023  3.954464
4   0.196684   3.793343   1.016462  -0.667764      0.165431  3.477212
5   2.560068   4.446726   2.420763   0.973363      0.166179  1.312528
6   4.027199   5.079975   4.582185   0.876607      0.420479  1.651431
7        NaN   5.339294   3.138633   1.611132      0.229141  0.000000
8   2.743726   4.506330   2.620240   1.362915      0.011719  1.035106
9  -0.180238   3.148906   0.280848  -0.741796      0.104471  4.303085

#### Donor Selection

[Van Buuren](https://stefvanbuuren.name/fimd/) identifies 4 methods of selecting donors

#### Method 1: (Single Donor)

Pick the sample closest to the missing value

In [28]:
donor = demo_df.dropna().nsmallest(1, 'distance')
spotlight_donors(demo_df, donor)

#### Method 2:

Donors selected from all points under a fixed threshold

In [29]:
threshold = 2
donors = demo_df.dropna()[demo_df.dropna().distance < threshold]['feature a']
spotlight_donors(demo_df, donors)

#### Method 3:

Closest N points selected as the set of donors

In [30]:
N = 3
donors = demo_df.nsmallest(N + 1, 'distance').tail(N)['feature a']
spotlight_donors(demo_df, donors)

#### Method 4:

Donors are all points, but donor selected randomly based on the distance, closest having higher probability

In [31]:
import random
# Pick with probability inversely proportionally to distance
weights = 1 / demo_df.dropna()['distance']
random.choices(demo_df.dropna()['feature a'].to_list(),
               k=1,
               weights=weights.to_list())

[4.027199122849932]

## $\color{purple}{\text{Predictive Mean Matching}}$
Uses linear interpolation as part of the metric.

Basically, the donors are selected from those observations whose predicted values from linear regression most closely matches that predicted from the missing value.

In [32]:
from sklearn.linear_model import LinearRegression

linear_regressor = LinearRegression()

In [33]:
demo_df = pd.read_csv('data/demo_mar.csv')

In [34]:
rest = ['feature b', 'feature c', 'feature d', 'uncorrelated']
full_data = demo_df.dropna()
linear_regressor.fit(full_data[rest], full_data['feature a'])
demo_df['regression'] = linear_regressor.predict(demo_df[rest])

In [35]:
demo_df['distance'] = np.abs(demo_df.regression - demo_df.regression.iloc[7])

In [36]:
N = 3
donors = demo_df.dropna().sort_values('distance').iloc[0:N]['feature a']
spotlight_donors(demo_df, donors, 7)

Predictive Mean Matching is the preferred imputation method, but can be computationally expensive, so for this demo the dataset is truncated to 100 rows

In [37]:
from autoimpute.imputations import SingleImputer

demo_df = mar_df[0:100].copy()
imputer = SingleImputer('pmm')
imputations = imputer.fit_transform(demo_df)

/opt/conda/lib/python3.9/site-packages/deprecat/classic.py:215: FutureWarning: In v4.0, pm.sample will return an `arviz.InferenceData` object instead of a `MultiTrace` by default. You can pass return_inferencedata=True or return_inferencedata=False to be safe and silence this warning.
  return wrapped_(*args_, **kwargs_)
Auto-assigning NUTS sampler...
Initializing NUTS using jitter+adapt_diag...
Multiprocess sampling (4 chains in 4 jobs)
NUTS: [, beta, alpha]

Sampling 4 chains for 1_000 tune and 1_000 draw iterations (4_000 + 4_000 draws total) took 22 seconds.
There were 5 divergences after tuning. Increase `target_accept` or reparameterize.
There were 35 divergences after tuning. Increase `target_accept` or reparameterize.
There were 3 divergences after tuning. Increase `target_accept` or reparameterize.
There were 7 divergences after tuning. Increase `target_accept` or reparameterize.
The number of effective samples is smaller than 25% for some parameters.

In [38]:
mar_df.displayer(imputations, 10)

## $\color{purple}{\text{Advanced Imputation Techniques: Multivariate Imputation by Chained Equations (MICE)}}$
* Often considered the gold standard of imputation
* Is actually more of an imputation blueprint
* Applicable with missingness in multiple columns

In [39]:
dmcar_df = pd.read_csv('data/double_mcar_set.csv')
missing_df = pd.DataFrame({
    'feature a': dmcar_df['feature a'].isnull(),
    'feature b': dmcar_df['feature b'].isnull()
})
ImputationDisplayer(dmcar_df)

#### First step: Impute each missing value with some form of univariate imputation (usually mean or median)

In [40]:
step1_df = dmcar_df.fillna({
    'feature a': dmcar_df['feature a'].mean(),
    'feature b': dmcar_df['feature b'].median()
})
dmcar_df.displayer(step1_df, 20)

#### Second Step: For each column impute using a regression or hot deck technique
Start with `feature a` then `feature b`

##### Clear the missing values for the imputer then impute feature a

In [41]:
imputer = SingleImputer('least squares')
step2a_df = imputer.fit_transform(
    step1_df.assign(**{
        'feature a':
        step1_df['feature a'].where(~missing_df['feature a'], np.nan)
    }))
dmcar_df.displayer(step2a_df, 10)

In [42]:
imputer = SingleImputer('least squares')
step2_df = imputer.fit_transform(
    step2a_df.assign(
        **{
            'feature b':
            step2a_df['feature b'].where(~missing_df['feature b'], np.nan)
        }))
dmcar_df.displayer(step2_df, 20)

In [43]:
stat_comparison(step2_df, df, 'feature b')

        Original  With Missing Data  difference  percentage
mean    2.169241           2.167609    0.001632    0.075229
median  2.170714           2.169837    0.000877    0.040381
stdev   0.739346           0.752618    0.013272    1.795085

#### Repeat Step 2 until results converge sufficiently

In [44]:
imputer = SingleImputer('least squares')
step3a_df = imputer.fit_transform(
    step2_df.assign(**{
        'feature a':
        step2_df['feature a'].where(~missing_df['feature a'], np.nan)
    }))
step3_df = imputer.fit_transform(
    step3a_df.assign(
        **{
            'feature b':
            step3a_df['feature b'].where(~missing_df['feature b'], np.nan)
        }))
dmcar_df.displayer(step3_df, 20)

In [45]:
stat_comparison(df, step3_df, 'feature a')

        Original  With Missing Data  difference  percentage
mean    2.411082           2.410799    0.000283    0.011729
median  2.420924           2.420068    0.000857    0.035387
stdev   1.279456           1.282637    0.003182    0.248668

stat_comparison(df, step3_df, 'feature b')

### $\color{purple}{\text{MICE imputer in}}$ `autoimpute`

In [46]:
imputer = MiceImputer(n=1, k=5, strategy='least squares')

In [47]:
# MICE imputer returns a multiple imputation (see next section) we unpack it by referencing [0][1]
imputed = [each for each in imputer.fit_transform(dmcar_df)][0][1]
dmcar_df.displayer(imputed, 20)

## $\color{purple}{\text{Advanced Imputation Techniques: Multiple Imputation}}$

Many of the imputation techniques are stochastic in nature meaning that if you run the imputation a second time. You would a slightly different imputed values for the missing values.

**Multiple Imputation** is the method which repeatedly imputes missing values. The result is a collection of possible imputed values.

With a collection of imputed values for each missing value, you can perform statistics and carry through error margins and confidence intervals through your models.

We will use `autoimpute`'s multiple imputer to demonstrate, by default it produces 5 imputations. It returns this as a generator which we unpack using list.

In [48]:
imputer = MultipleImputer(strategy='least squares')
imputations = imputer.fit_transform(mar_df)
lists = list(imputations)  # Unscramble the generator

The return value is an array of tuples. Each tuple is a pair with the imputation index (ordinal count) and the imputed dataframe.

In [49]:
lists

[(1,
         feature a  feature b  feature c  feature d  uncorrelated
  0       2.777245   2.234252  -1.552282   8.772158      0.360789
  1       3.955997   2.223169  -0.645673   8.815675      0.393466
  2       1.936893   2.182897  -2.474526   8.549983      0.891191
  3       2.484183   1.618856  -1.404809   7.360904      0.156937
  4       2.089727   2.698967  -1.464007   7.786100      0.046178
  ...          ...        ...        ...        ...           ...
  19995   4.443608   3.598182  -0.165366  10.145934      0.342463
  19996   1.165285   0.736938  -3.187425   6.613540      0.113257
  19997   1.414792   1.509221  -2.732139   7.343888      0.172451
  19998   2.404655   2.254528  -1.853894   8.207224      0.323325
  19999   2.336560   1.750477  -2.115688   7.847807      0.290731

  [20000 rows x 5 columns]),
 (2,
         feature a  feature b  feature c  feature d  uncorrelated
  0       2.777245   2.234252  -1.552282   8.772158      0.360789
  1       3.955997   2.223169  -0.645673   8.815675      0.393466
  2       1.936893   2.182897  -2.474526   8.549983      0.891191
  3       2.484183   1.618856  -1.404809   7.360904      0.156937
  4       2.089727   2.698967  -1.464007   7.786100      0.046178
  ...          ...        ...        ...        ...           ...
  19995   4.443608   3.598182  -0.165366  10.145934      0.342463
  19996   1.165285   0.736938  -3.187425   6.613540      0.113257
  19997   1.414792   1.509221  -2.732139   7.343888      0.172451
  19998   2.404655   2.254528  -1.853894   8.207224      0.323325
  19999   2.336560   1.750477  -2.115688   7.847807      0.290731

  [20000 rows x 5 columns]),
 (3,
         feature a  feature b  feature c  feature d  uncorrelated
  0       2.777245   2.234252  -1.552282   8.772158      0.360789
  1       3.955997   2.223169  -0.645673   8.815675      0.393466
  2       1.936893   2.182897  -2.474526   8.549983      0.891191
  3       2.484183   1.618856  -1.404809   7.360904      0.156937
  4       2.089727   2.698967  -1.464007   7.786100      0.046178
  ...          ...        ...        ...        ...           ...
  19995   4.443608   3.598182  -0.165366  10.145934      0.342463
  19996   1.165285   0.736938  -3.187425   6.613540      0.113257
  19997   1.414792   1.509221  -2.732139   7.343888      0.172451
  19998   2.404655   2.254528  -1.853894   8.207224      0.323325
  19999   2.336560   1.750477  -2.115688   7.847807      0.290731

  [20000 rows x 5 columns]),
 (4,
         feature a  feature b  feature c  feature d  uncorrelated
  0       2.777245   2.234252  -1.552282   8.772158      0.360789
  1       3.955997   2.223169  -0.645673   8.815675      0.393466
  2       1.936893   2.182897  -2.474526   8.549983      0.891191
  3       2.484183   1.618856  -1.404809   7.360904      0.156937
  4       2.089727   2.698967  -1.464007   7.786100      0.046178
  ...          ...        ...        ...        ...           ...
  19995   4.443608   3.598182  -0.165366  10.145934      0.342463
  19996   1.165285   0.736938  -3.187425   6.613540      0.113257
  19997   1.414792   1.509221  -2.732139   7.343888      0.172451
  19998   2.404655   2.254528  -1.853894   8.207224      0.323325
  19999   2.336560   1.750477  -2.115688   7.847807      0.290731

  [20000 rows x 5 columns]),
 (5,
         feature a  feature b  feature c  feature d  uncorrelated
  0       2.777245   2.234252  -1.552282   8.772158      0.360789
  1       3.955997   2.223169  -0.645673   8.815675      0.393466
  2       1.936893   2.182897  -2.474526   8.549983      0.891191
  3       2.484183   1.618856  -1.404809   7.360904      0.156937
  4       2.089727   2.698967  -1.464007   7.786100      0.046178
  ...          ...        ...        ...        ...           ...
  19995   4.443608   3.598182  -0.165366  10.145934      0.342463
  19996   1.165285   0.736938  -3.187425   6.613540      0.113257
  19997   1.414792   1.509221  -2.732139   7.343888      0.172451
  19998   2.404655   2.254528  -1.853894   8.207224      0.323325
  19999   2.336560   1.750477  -2.115688   7.847807      0.290731

  [20000 rows x 5 columns])]

In [50]:
# Display the second full imputation
mar_df.displayer(lists[2][1], 10)

$\color{red}{\Large{\text{ }}}$ the `least squares` is option is deterministic. You will notice all the imputations are the same.

In [51]:
[each[1].iloc[1]['feature a'] for each in lists]

[3.9559972510977346,
 3.9559972510977346,
 3.9559972510977346,
 3.9559972510977346,
 3.9559972510977346]

If we use the `stochastic` strategy each missing value will have multiple imputed values

In [52]:
imputer = MultipleImputer(strategy='stochastic')
imputations = imputer.fit_transform(mar_df)
lists = list(imputations)  # Unscramble the generator

In [53]:
[each[1].iloc[1]['feature a'] for each in lists]

[4.0074248110536095,
 4.004021306536127,
 4.220467611619345,
 3.7754015456523353,
 3.9766768094609573]

### $\color{purple}{\text{Conclusion}}$

* Univariate Imputation is fast and easy but works only on MCAR
* Multivariate Imputation comes in two broad flavors
  * Regression/Classification
  * Hot Deck Imputation
* Multivariate Imputation with Chained Equations (MICE) deals well with multiple missing features
* Multiple Imputation can be used to carry statistics into your model

### $\color{purple}{\text{References}}$
* van Buuren, S., Groothuis-Oudshoorn, K.: mice: Multivariate imputation by
chained equations in r. _Journal of Statistical Software_, Articles 45(3), 167 (2011).
https://doi.org/10.18637/jss.v045.i03, https://www.jstatsoft.org/v045/i03